.form-signin{
    width: 50%;
}
.form-floating{
    margin-bottom: 30px;
}
.eye-btn{
    border: 0;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 15px;
}
.login-signup{
    position: absolute;
    right: 15px;
    top: 5px;
}
.signup-Button{
    font-weight: 600;
}